In [1]:
import pandas as pd

In [2]:
gitFile = pd.read_csv("https://raw.githubusercontent.com/NeilPandey/Test_Dataset/master/insurance.csv")
gitFile.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
gitFile.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
gitFile.region.describe()

count          1338
unique            4
top       southeast
freq            364
Name: region, dtype: object

In [5]:
gitFile.region.value_counts()

southeast    364
northwest    325
southwest    325
northeast    324
Name: region, dtype: int64

In [8]:
regGroup = gitFile.groupby('region')
for r,g in regGroup:
    print(g)

      age     sex     bmi  children smoker     region      charges
8      37    male  29.830         2     no  northeast   6406.41070
10     25    male  26.220         0     no  northeast   2721.32080
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
20     60  female  36.005         0     no  northeast  13228.84695
...   ...     ...     ...       ...    ...        ...          ...
1321   62    male  26.695         0    yes  northeast  28101.33305
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1328   23  female  24.225         2     no  northeast  22395.74424
1334   18  female  31.920         0     no  northeast   2205.98080

[324 rows x 7 columns]
      age     sex     bmi  children smoker     region      charges
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
24     37    male  28.025         2     no  northwest   6203.90175
...   ...     ...     ...       ...    ...        ...          ...
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1324   31    male  25.935         1     no  northwest   4239.89265
1333   50    male  30.970         3     no  northwest  10600.54830
1337   61  female  29.070         0    yes  northwest  29141.36030

[325 rows x 7 columns]
      age     sex    bmi  children smoker     region     charges
1      18    male  33.77         1     no  southeast   1725.5523
2      28    male  33.00         3     no  southeast   4449.4620
5      31  female  25.74         0     no  southeast   3756.6216
6      46  female  33.44         1     no  southeast   8240.5896
11     62  female  26.29         0    yes  southeast  27808.7251
...   ...     ...    ...       ...    ...        ...         ...
1322   62    male  38.83         0     no  southeast  12981.3457
1323   42  female  40.37         2    yes  southeast  43896.3763
1327   51    male  30.03         1     no  southeast   9377.9047
1330   57  female  25.74         2     no  southeast  12629.1656
1335   18  female  36.85         0     no  southeast   1629.8335

[364 rows x 7 columns]
      age     sex   bmi  children smoker     region      charges
0      19  female  27.9         0    yes  southwest  16884.92400
12     23    male  34.4         0     no  southwest   1826.84300
15     19    male  24.6         1     no  southwest   1837.23700
18     56    male  40.3         0     no  southwest  10602.38500
19     30    male  35.3         0    yes  southwest  36837.46700
...   ...     ...   ...       ...    ...        ...          ...
1316   19  female  20.6         0     no  southwest   1731.67700
1329   52    male  38.6         2     no  southwest  10325.20600
1331   23  female  33.4         0     no  southwest  10795.93733
1332   52  female  44.7         3     no  southwest  11411.68500
1336   21  female  25.8         0     no  southwest   2007.94500

[325 rows x 7 columns]

In [13]:
north = regGroup.get_group('northwest')
north

      age     sex     bmi  children smoker     region      charges
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
7      37  female  27.740         3     no  northwest   7281.50560
9      60  female  25.840         0     no  northwest  28923.13692
24     37    male  28.025         2     no  northwest   6203.90175
...   ...     ...     ...       ...    ...        ...          ...
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1324   31    male  25.935         1     no  northwest   4239.89265
1333   50    male  30.970         3     no  northwest  10600.54830
1337   61  female  29.070         0    yes  northwest  29141.36030

[325 rows x 7 columns]

In [14]:
gitFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [16]:
north.to_csv('/Users/neil/Documents/northRegionIns.csv',index=False)

In [22]:

north.to_json('/Users/neil/Documents/northRegionIns.json',index=False)

ValueError: 'index=False' is only valid when 'orient' is 'split' or 'table'

AttributeError: 'str' object has no attribute 'to_json'

In [ ]:
#DataFrame, joins, series

In [2]:
import pandas as pd

In [3]:
df1=[('2021-04-03','pune',25.0),('2023-03-06','delhi',22.0),('2023-05-03','indore',24.2)]

In [4]:
df1=pd.DataFrame(data=)

[('2021-04-03', 'pune', 25.0),
 ('2023-03-06', 'delhi', 22.0),
 ('2023-05-03', 'indore', 24.2)]